In [2]:
# TASK 01 

dic = {'Name': 'Salman', 'Department': 'CS'}
print('Original Dictionary: ',dic)
dic['Batch'] = '9th'
print('After Update: ',dic)

Original Dictionary:  {'Name': 'Salman', 'Department': 'CS'}
After Update:  {'Name': 'Salman', 'Department': 'CS', 'Batch': '9th'}

In [3]:
# TASK 02

x = lambda y : y + 15
print(x(17))
z = lambda a, b : a * b
print(z(10, 3))

32
30

In [5]:
# TASK 03

l = [9,10,1,8]
sum = 0
for i in l:
  sum+=i
print('Sum of List elements is: ',sum)

Sum of List elements is:  28

In [9]:
# TASK 04

# Method 01
list1 = [1,3,9,2,6]
print('Largest number in list1 is ',max(list1))

# Method 02
list2 = [10,11,4,14,2,1]
m = list2[0]
for i in list2:
  if i > m:
    m = i
print('Largest number in list2 is ',m)

Largest number in list1 is  9
Largest number in list2 is  14

In [10]:
# Task 05

t = (1,2,3,4,5)
print('This is our tuple: ',t)

This is our tuple:  (1, 2, 3, 4, 5)

In [12]:
# Task 06

t2 = (10,5,6,2,1,'Salman','Haris')
print(3 in t2)
print('Salman' in t2)

False
True